
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Josefin+Sans:ital@1&family=Kanit:ital@1&family=Lobster&family=Marck+Script&family=Ms+Madi&family=Pacifico&family=Saira+Condensed&display=swap');

.heading{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
}
.puvi{
	font-family: 'Zoho_Puvi_Regular.eot', sans-serif;
}
.saira{
	font-family: 'Saira Condensed', sans-serif;
}
*{
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
	
} 
*::-webkit-scrollbar {
	display: none;
}
html{
	background-size: cover;
	background-position: center;
	z-index: -1;
	height: 100%;
	width: 100%;
	color: rgb(28,30,44);
}
html,body{
	width: 100%;
	height: 100%;
}
.home-pg{
	width: 100%;
	height: 100%;
}
.home-pg > div{
	width: 100%;
	height: 100%;
	background-image: url("/assets/bg.png");
	background-size: cover;
}
.nav-bar{
	display: flex;
	width: 80%;
	margin: 0 auto;
	max-width: 1500px;
	padding: 30px 0 10px 0;
}
.login-mobile{
	display: none;
}
.nav:nth-of-type(1){
	flex-grow: 5;
}
.nav:nth-of-type(2){
	flex-grow: 1;
}
.nav:nth-of-type(3){
	flex-grow: 1;
}
.ham-icon-box{
	display: none;
}
.login-link{
	text-align: right;
	padding-right: 10%;
} 
.inner-ul{
	padding: 10px 0 0 0;
}
.inner-ul > li{
	list-style-type: none;
	display: inline-block;
	padding: 8px 10px 0;
}
.inner-ul > li > a{
	text-decoration: none;
	color: rgb(28,30,44);
	font-size: 25px;
}
.inner-ul > li:hover{
	transform: scale(1.1);
}
.login-link{
	padding: 0 5% 0 0;
}
.login-link-btn{
	border: none;
	cursor: pointer;
	font-size: 25px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: rgb(28,30,44);
	color: rgba(255,255,255,0.9);
	transition: 0.5s;
}
.login-link-btn:hover{
	color: rgb(28,30,44);
	background-color: rgba(255,255,255,0.9);
}
.login-link-btn:active{
	transform: scale(0.9);
}
/*
 Home-Page
 */
 .landing{
	text-align: center;
 }
.landing-pg{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 0 30px;
}
.lorem{
	padding: 70px 0 0 50px;
	width: 30%;
	line-height: 2;
	font-size: 18px;
	text-align: center;
}
.lorem > .login-link-btn{
	transition: 0s;
	color: white;
}
.lorem > .login-link-btn:hover{
	background-color: rgba(28,30,44,0.8);
	color: rgba(255,255,255);
}
.lorem > h1{
	padding: 10px;
	text-align: center;
}
.img{
	width: 70%;
	margin: -40px -30px 0 0;
}
.img > img{
	width: 100%;
	height: 100%;
}
/*
 About-developer
 */
.developers{
	background-color: rgb(28,30,44);
	text-align: center;
	padding: 60px 0;
	margin-top: 90px;
}
.developers > div{
	width: 85%;
	padding: 20px 0 40px;
	margin: auto;
}
.developers >div > h1{
	color: white;
	text-align: center;
	margin: 0 0 20px 0 ;
}
.develop-scroll{
	overflow: hidden;
	border-radius: 80px 10px;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}
.develop-inner{
	display: flex;
	width: 500%;
	height: 100%;
	transition: 0.5s;
}
.developer{
	width: 100%;
	height: 100%;
	display: flex;
}
.about-developer{
	text-align: justify;
	line-height: 2;
	padding: 30px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: white;
}
.scroll-icon{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}
.arrows{
	cursor: pointer;
	padding: 15px 18px;
	background-color: rgba(255,255,255,0.8);
	font-size: 30px;
	border-radius: 50%;
	z-index: 3;
	transition: O.4s;
}
.arrows:hover{
	background-color: rgba(255,255,255);
}
.arrows:active{
	transform: scale(0.9);
}
#right-arrow{
	background-color: rgb(28,30,44);
	color: white;
}
.profile-img{
	width: 400px;
	height: 500px;
	min-width: 400px;
}
.profile-img > img{
	width: 100%;
	height: 100%;
}
/*
 Use-Cases
*/
.use-cases{
	padding: 40px 0;
}
.use-case-box{
	width: 100%;
	padding: 40px 0;
}
.use-case-box:nth-child(odd){
	background-color: rgb(28,30,44);
	color: white;
}
.use-case-box > div{
	width: 65%;
	margin: 0 auto;
	max-width: 1200px;
	/* padding: 30px 10px; */
}
.use-cases > h1{
	text-align: center;
}
.uses{
	display: flex;
	justify-content: space-between;
	line-height: 2;
}
.uses-picture > img{
	height: 300px;
	width: 300px;
}
.uses-content{
	padding: 0 20px;
	max-width: 600px;
}



.api{
	background-color: rgb(28,30,44);
	color: white;
	font-family: 'Kanit', sans-serif;
	padding: 40px;
}
.api-box{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
}
.kanit{
	font-family: 'Kanit', sans-serif;
}
.foot-box > h2{
	font-family: 'Zoho_Puvi_Regular.eot', cursive;
}
.foot-box{
	max-width: 300px;
	margin: 0 30px;
	line-height: 1.8;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 20px;
}
.foot-box > h2{
	padding: 20px;
}
.contact-info-box{
	display: flex;
	padding: 10px 20px;
	transition: 0.4s;
}
.cont-name{
	font-size: 20px;
	padding: 0 0 0 15px;
}
.contact-info > a{
	text-decoration: none;
	color: white;
}
.contact-info-box:hover{
	color: deeppink;
	transform: scale(1.15);
}

.flip{
	width: 40px;
	height: 40px;
	perspective: 1000px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid black;
}
.flip-inner{
	position: relative;
	width: 100%;
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;
}
.contact-info-box:hover .flip-inner{
	transform: rotateY(180deg);
}
.cliq-img,.my-img{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cliq-img > img,.my-img > img{
	width: 100%;
	height: 100%;
}
.cliq-img{
	width: 40px;
	height: 40px;
}
.my-img{
	transform: rotateY(180deg);
}
.logo-img{
	cursor: pointer;
	z-index: 11;
}
.logo-img > img{
	height: 100px;
	width: 100px;
}

@media screen and (max-width: 1025px){
	.nav-bar{
		width: 100%;
		padding: 10px;
	}
	.login-link{
		padding: 0;
	}
	.login-link-btn{
		font-size: 18px;
	}
	.inner-ul > li > a{
		font-size: 20px;
	}
	.inner-ul > li{
		padding: 10px 8px 0;
	}
	.landing-pg,.use-case-box > div,.developers > div{
		width: 90%;
	}
	.about-developer{
		text-align: justify;
		line-height: 1.5;
	}
	.api{
		padding: 10px;
	}
	.api-box{
		width: 95%;
	}
}
@media screen and (max-width: 870px){
	.login-link-btn{
		font-size: 18px;
	}
}

@media screen and (max-width: 768px){
	.login-link{
		padding: 0;
	}
	.nav:nth-of-type(1){
		flex-grow: 1;
	}
	.nav:nth-of-type(2){
		flex-grow: 1;
	}
	.nav:nth-of-type(3){
		flex-grow: 1;
	}
	.inner-ul > li > a{
		font-size: 17px;
	}
	.inner-ul > li{
		padding: 8px 6px 0;
	}
	.landing-pg{
		flex-direction: column-reverse;
	}
	.lorem{
		width: 100%;
	}
	.img{
		width: 100%;
	}
	.uses{
		flex-direction: column;
	}
	.usesBox2{
		flex-direction: column-reverse;
	}
	.arrows:hover{
		transform: none;
	}
	.arrows:active{
		transform: scale(1.1);
	}
}
@media screen and (max-width: 650px){
	.nav-bar{
		padding: 10px 0 0;
	}
	.logo-img > img{
		height: 60px;
		width: 60px;
	}
	.img{
		width: 70%;
		margin: 0;
	}
	.lorem{
		padding: 30px;
		width: auto;
		line-height: 2;
		font-size: 18px;
		text-align: justify;
	}
	
}
@media screen and (max-width: 550px){
	.nav-bar{
		display: block;
		padding: 10px 10px 0 ;
	}
	.inner-ul{
		background-color: white;
	}
	.login-link-btn{
		background-color: rgb(28,30,44);
		color: white;
	}
	.develop-scroll{
		border: none;
	}
	.logo{
		padding: 3px 20px;
	}
	.login-mobile{
		display: block;
	}
	.login-link{
		text-align: center;
		padding: 15px 0 0;
	} 
	.login-nav{
		display: none;
	}
	.logo{
		display: flex;
		justify-content: space-between;
	}
	.ham-icon-box{
		display: block;
		padding: 10px 20px 10px 10px;
		font-size: 25px;
	}
	#symbolx{
		display: none;
	}
	#inner-links{
		height: 0;
		overflow: auto;
		transition: 1s;
	}
	.profile-img{
		width: 100%;
		height: 500px;
		min-width: 250px;
	}
	.profile-img > img{
		width: 100%;
		height: 100%;
	}
	.inner-ul > li{
		display: block;
		text-align: center;
		padding: 15px 10px 0;
		width: 100%;
		border-bottom: 1px solid black;
	}
	.inner-ul > li > a{
		color: black;
		font-size: 20px;
		font-weight: 600;
	}
	.landing-pg{
		width: 100%;
	}
	#right-arrow{
		background-color: rgba(255,255,255,0.8);
		color: black;
	}
	.img{
		width: 100%;
	}
	.inner-ul > li > a:hover{
		text-decoration: none;
	}
	.developer{
		flex-direction: column;
	}
	.develop-scroll{
		border-radius: 10px;
	}
	.profile-img{
		text-align: center;
	}
	.use-case-box > div,.developers > div{
		width: 95%;
	}
	.api-box{
		flex-direction: column;
		margin: 0;
	}
	.foot-box{
		max-width: 300px;
		margin: 30px;
	}
	.foot-box > h2{
		text-align: center;
	}
	.api{
		padding: 0;
	}
}
@media screen and (max-width: 300px){
	.cont-name{
		font-size: 16px;
	}
	.uses-picture > img{
		height: 250px;
		width: 250px;
	}
	*,.lorem{
		line-height: 1;
	}
}